body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(-45deg, rgba(252, 6, 219, 0.705), rgba(243, 28, 28, 0.863),
rgb(0, 110, 255), rgba(41, 41, 41, 0.884)); */
background-color: rgb(255, 0, 140);
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 3000px;
    display: flex;
}

section {
    min-width: 100%;
    height: auto;
    display: flex;
}

section .imgbox {
    position: relative;
    min-width: 40%;
    height: 100vh;
}

section .imgbox img {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 60%;
    height: 50vh;

}

section .storybox {
    padding: 5px;
}

section .storybox h2 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 40px;
    color: white;
}

section .storybox p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: justify;
    color: white;
}



