body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, rgba(252, 6, 219, 0.705), rgba(69, 3, 175, 0.863), rgb(12, 192, 87), rgb(20, 20, 20));
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

section {
    min-width: 100%;
    height: auto;
    display: flex;
}

section .jumbotron {
    background-color: rgba(255, 255, 255, 0.555);
    width: 80%;
    margin-top: 20px;
}

section .imgbox {
    position: relative;
    min-width: 30%;
    height: 100vh;
}

section .imgbox img {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 60%;
    height: 50vh;
}


section .storybox {
    padding: 5px;
}

section .storybox h2 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 40px;
    color: white;
}

section .storybox p {
    margin: 0;
    padding: 0;
    color: white;
}

section .card {
    height: 70%;
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(78, 78, 78, 0.945);
    color: rgba(255, 255, 255, 0.849);
}

section form {
    margin: 40px;
}
